* {
  font-family: var(--body-font);
  text-decoration: none;
  color: var(--second-color);
  font-weight: var(--font-thin);
  font-size: var(--normal-font-size);
  margin: 0px 0px;
  box-sizing: border-box;

}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
  align-items: center;
  padding: var(--mb-1) var(--mb-4);
  
  
  background-color: white;
  border-bottom: 1px solid var(--gray-color);

}

header h1 {
  display: flex;
  cursor: default;
  text-align: center;
  font-size: var(--h2-font-size);
}
header h1 span{
  display: flex;
  font-family: 'Fira Code', monospace;
  font-size: var(--h2-font-size);
}

header nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  min-width: 30%;
  gap: var(--mb-1);
}

header nav li{
  width: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
header nav li a{
  transition: all 0.3s ease-in;
}

header nav li a:hover {
  font-size: var(--hover-font-size);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
  color: var(--first-color);
}

.contato{
  color: white;
  background-color: var(--first-color);
  padding: .8rem 1rem;
  border-radius: 1rem;
}
.contato:hover{
  color: white;

}


.header.scrolled {
  /* Adicione aqui qualquer estilo adicional para o header quando estiver scrollado */
}



@media (max-width: 768px) {
  header {
    height: var(--alternative-header-height);
    align-items: space-between;   
    flex-direction: column;
    justify-content: center;
    padding: 0 0;
    transition: all 0.3s ease-in;  
    row-gap: 1rem;
  }
  

  .hidden {
    display: none;
  }

  .header.scrolled {
    height: var(--header-height);
    transition: all 0.3s ease-in;   
  }
  .header.scrolled nav {
    height: var(--header-height);
    transition: all 0.3s ease-in;   
  }
}
