.certificate-container{
    display: flex;
    flex-direction: column;
}

.certificate-img{
  width: clamp(30px, 2.4rem, 3rem);
}

.certificate-card{
    display: flex;
    gap: 1rem;
    align-self: start;
    align-items: top;
    margin-bottom: 1rem;

    h2 {
        position: relative;
        display: inline-block; /* Inline-block keeps the underline just under the text */
        cursor: pointer;
        font-size: clamp(.5rem, var(--h2-font-size), 3rem);
        overflow: hidden;
        text-align: start;
      }
      
    h2::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px; /* Adjust this for the thickness of the underline */
        background-color: var(--first-color); /* Set your desired color */
        transition: width 1s ease; /* Adjust the duration and easing */
      }
      
      h2:hover::after {
        width: 100%;
      }

}


@media (max-width: 692px){
    .certificate-card{
        align-self: center;
    }
}

@media (max-width: 1440px){
    .certificate-card{
      h2 {
        font-size: 1.3rem;
      }
    }
}
@media (max-width: 1210px){
    .certificate-card{
      h2{ 
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 78vw; 
      }

      h2:hover::after{ 
        display: none;
      }
    
    }}

@media (max-width: 464px){
    .certificate-img{
        display: none;
    }
  
}
      



.ArrowDown{
  width: .8rem;
}

.github{
  margin-left: .5rem;
  width: 1.5rem;
}