/* === general css === */

* {
    font-family: var(--body-font);
    text-decoration: none;
    color: var(--second-color);
    font-weight: var(--font-thin);
    font-size: var(--normal-font-size);
    margin: 0px 0px;
    overflow-x: hidden;

  }

/* === main css === */
main {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-evenly;
    min-height: 100vh; /*for the main part takes at least all the vertical screen space*/
    position: absolute;
    width: 100%;
    top: var(--header-height); /*defined in index.css*/
    z-index: var(--z-back);
    padding: var(--mb-1) var(--mb-4);
    /* thats some scroll related css */
    overflow: auto;
    scrollbar-width: none;
    }
  

/* === .presentation div (contains greeting and my photo) === */
.presentation {
  margin: var(--mb-4) 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between ;
}

/* ====== left section of .presentation div (greeting text) ====== */
.greeting{
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: default;
  user-select: none; /* Navegadores modernos */
  -webkit-user-select: none; /* Safari e Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE e Edge */
}

/* ==== my face related ==== */
.face-container{
  display: flex;
  justify-content: center;
  align-items: center;  

}

.face{
  width: 450px;
  height: auto;
  transition: all 0.3s ease-in; 
}



/* ====== div containing the social medias -> git and linkdin ====== */
.medias {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin: var(--mb-3) 0px;
}

.medias .icon {
  font-size: var(--big-font-size);
  color: var(--first-color);
  transition: all 0.3s ease-in;
}

.medias .icon:hover{
  font-size: var(--big2-font-size);
  transition: all 0.3s ease-out;
  opacity: 0.8; 
  cursor: pointer;
}

.icon-media-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
}

/* ====== major for text on about me section ====== */
main h2 {
    font-size: var(--big-font-size);
    font-weight: var(--font-bold);
    
    }
main h2 span{
  font-size: var(--big-font-size);
  font-weight: var(--font-bold);
  color: var(--first-color);
}

.about h2{
  font-size: var(--h2-font-size);
  font-weight: var(--font-thin);
  color: var(--second-color);
  
}
.about span{
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);
  color: var(--second-color);
}

/* === css for the title of each topic on page ===  */

.section-title{
  text-decoration: underline var(--first-color); 
  text-underline-offset: 1.2rem;
  font-size: var(--big-font-size);
  font-weight: var(--font-bold);
  margin: var(--mb-3) 0px;
  text-align: center;

}
.first-text{
  margin-bottom: 1rem;
}

/* *****====== carousel related css ======***** */

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  background: white;
  white-space: nowrap;
  position: relative;
}
.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}
.logos:before {
  left: 0%;
  width: 10%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}
.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  width: 10%;
}
.logos:hover .logos-slide {
  animation-play-state: paused;
  transition: all 1s ease-in;
}
.logos-slide {
  display: inline-block;
  animation: 10s slide infinite linear;
  margin: var(--mb-3) 0px;
}
.logos-slide .skills-logo {
  height: 50px;
  margin: 0 40px;
  
}
.logos-slide svg{
  padding-top: 40px;
  width: 3.5rem;
}

.certificate-container {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 1rem 0px;
  
  
}
.certificate-container .img-container {
  margin: 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 3rem;
  height: 3rem;

}

.certificates h2{
  font-size: var(--h2-font-size);
  font-weight: var(--font-thin);
  color: var(--second-color);
}

.certificate-img {
  width: 3rem;
  height: auto;
}

.medias-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: var(--mb-3) 0px;
}
.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  margin: var(--mb-3) 0px;
}
.contact-ways{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: var(--mb-3) 0px;
}
.popup {
  position: fixed;
  opacity: 0.9;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);

}

.contact-container {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: .4rem;
  margin: var(--mb-1) 0px;
}
.contact-container a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
 
}
.contact-container .copy{
  font-size: 1.125rem;
  cursor: pointer;

}

.contact-container .whatsapp-icon{
  font-size: 1.3rem;
  cursor: pointer;
}

.text-info{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  

}

h3{

font-weight: 300;
}

 

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
}

.circle {
    width: 50px; /* Ajuste o tamanho conforme necessário */
    height: 50px;
    background-color: #007bff; /* Cor da bola */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.circle:hover {
    background-color: #0056b3; /* Cor ao passar o mouse */
}

.arrow {
    font-size: 20px; /* Ajuste o tamanho da seta */
    color: white; /* Cor da seta */
}
/* +====== MEDIA QUERIES ======+ */


/* Tablet/Cellphone  */
@media (max-width: 692px) {
  main {
    position: absolute;
    width: 100vw;
    top: var(--alternative-header-height);
    padding:  var(--mb-1) ;
  }
  .medias {
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: space-evenly;
  }
  .certificate-container h2 {
    font-size: var(--normal-font-size);
  }
  .certificate-container a {
    width: 90vw;
  }

  .face{
    width: 90vw;
  }
  
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: var(--mb-3) 0px;
  }
  .contact-ways{
    margin: 0px 0px ;
  }

}



/* Desktop  */

@media (max-width: 1025px) {
  

  .about h2{
    font-size: var(--normal-font-size);
    font-weight: var(--font-thin);
    color: var(--second-color);
    text-align: center;
  }
  .about span{
    font-size: var(--normal-font-size);
    font-weight: var(--font-bold);
    color: var(--second-color);
}
  
  .presentation{
    flex-direction: column;
    text-align: center;
  }
  .medias {
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* justify-content: space-between; */
  }
  .contato-main{
    display: none;
  }

  

  .certificate-container {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: var(--mb-1) 0px;
    
    
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-ways{
    margin: 0px 0px ;
  }
  .section-title{
    font-size: var(--h2-font-size);
  }


  
}




