/* === general css === */

:root {
  --hue-color: 224;
  --first-color: hsl(var(--hue-color), 90%, 65%);
  --second-color: hsl(var(--hue-color), 0%, 15%);
  --third-color: hsl(0, 0%, 100%);
  --gray-color: hsl(var(--hue-color), 0%, 95%);
}

body.dark-theme {
  --second-color: white;
  --third-color: black;
  --gray-color: hsl(224, 0%, 15%);
}

body.light-theme {
  --second-color: black;
  --third-color: white;
  --gray-color: hsl(224, 0%, 95%);
}




* {
  font-family: var(--body-font);
  text-decoration: none;
  color: var(--second-color);
  font-weight: var(--font-superthin);
  font-size: var(--normal-font-size);
  margin: 0px 0px;
  overflow-x: hidden;

}

/* === main css === */
main {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-evenly;
  min-height: 100vh; /*for the main part takes at least all the vertical screen space*/
  position: absolute;
  width: clamp(300px, 100vw, 100vw);
  top: var(--header-height); /*defined in index.css*/
  z-index: var(--z-back);
  padding: var(--mb-1) var(--mb-4);


}

/* determina o tamanho de fonte dos h1, com excessão do h1 do logo (header) */
h1:not(#contato):not(#logo) {
  font-size: var(--big-font-size);
  font-weight: var(--font-bold);
  font-family: "Bona+Nova";
}
.section-title {
  font-size: var(--big-font-size);
  font-weight: var(--font-bold);
  font-family: "Bona+Nova";
}
h2,
span {
  font-size: var(--h2-font-size);
  font-weight: var(--font-superthin);

  span {
    font-weight: var(--font-thin);
  }
}

h5{
  user-select: none;
  text-align: center;
  font-size: var(--h5-font-size);
  font-weight: var(--font-superthin);
}

/* === .presentation div (contains greeting and my photo) === */
.presentation {
  margin: var(--mb-4) 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ====== left section of .presentation div (greeting text) ====== */
.greeting {
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: default;
  user-select: none; /* Navegadores modernos */
  -webkit-user-select: none; /* Safari e Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE e Edge */
}

/* ==== my face related ==== */
.face-container {
  overflow: hidden;
}
.face-container,
.face-container img {

  width: clamp(350px, 35vw, 40vw);
  height: auto;
  overflow: visible; 
}

/* ====== div containing the social medias -> git and linkdin ====== */
.medias {
  display: flex;
  justify-content: start;
  gap: 1rem;

  /* for proper hover effect */
  .icon-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 3rem;
    height: 3rem;

    .icon {
      font-size: var(--big-font-size);
      transition: all 0.3s ease-in;

      &:hover {
        scale: 1.05;
        transition: all 0.3s ease-out;
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }
}

/* === css for the title of each topic on page ===  */

.section-title {
  user-select: none;
  text-align: center;
  margin-bottom: var(--mb-4);
  margin-top: var(--mb-3);
  text-decoration: underline var(--first-color);
  text-underline-offset: 0.4rem;
  text-decoration-thickness: 0.2rem;
}

.certificate-container {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 1rem 0px;

  a {
    align-items: center;
    text-align: center;
  }
}
.certificate-container .img-container {
  margin: 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 3rem;
  height: 3rem;
}

.certificates h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-superthin);
  color: var(--second-color);
}

.certificate-img {
  width: 3rem;
  height: auto;
}

.medias-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: var(--mb-3) 0px;
}
.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  margin: var(--mb-3) 0px;
}
.contact-ways {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: var(--mb-3) 0px;
}



.contact-container {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 0.4rem;
  margin: var(--mb-1) 0px;
}
.contact-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contact-container .copy {
  font-size: 1.125rem;
  cursor: pointer;
}

.contact-container .whatsapp-icon {
  font-size: 1.3rem;
  cursor: pointer;
}

.text-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h3 {
  font-weight: 300;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
}

.circle {
  width: 50px; /* Ajuste o tamanho conforme necessário */
  height: 50px;
  background-color: #007bff; /* Cor da bola */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.circle:hover {
  background-color: #0056b3; /* Cor ao passar o mouse */
}

.arrow {
  font-size: 20px; /* Ajuste o tamanho da seta */
  color: white; /* Cor da seta */
}
/* +====== MEDIA QUERIES ======+ */

/* Tablet/Cellphone  */
@media (max-width: 692px) {
  main {
    position: absolute;
    width: 100vw;
    top: var(--alternative-header-height);
    padding: var(--mb-1);
  }
  .medias {
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: space-evenly;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: var(--mb-3) 0px;
  }
  .contact-ways {
    margin: 0px 0px;
  }
}

@media (max-width: 500px) {
  .presentation h2,
  .presentation span {
    font-size: var(--big-font-size);
  }
}

/* Desktop  */

@media (max-width: 1025px) {
  .about h2 {
    font-size: var(--normal-font-size);
    font-weight: var(--font-thin);
    color: var(--second-color);
    text-align: center;
  }
  .about span {
    font-size: var(--normal-font-size);
    font-weight: var(--font-bold);
    color: var(--second-color);
  }

  .presentation {
    flex-direction: column;
    text-align: center;
  }

  .medias {
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* justify-content: space-between; */
  }
  .contato-main {
    display: none;
  }

  .certificate-container {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: var(--mb-1) 0px;
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-ways {
    margin: 0px 0px;
  }
}

a[href^="mailto:"] {
  text-decoration: none;
}