/*===== FONTE =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Fugaz+One&family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*===== VARIAVEIS CSS =====*/
:root {
  --header-height: 5rem;
  --alternative-header-height: 10rem;
  --font-bold: 700;
  --font-semi: 600;
  --font-thin: 500;
  --font-superthin:300;
  /*===== CORES =====*/
        /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
        /* HSL color mode */

  

  /*===== FONTES/TIPOGRAFIA =====*/
  --body-font: "Poppins", sans-serif;

  --big2-font-size: 2.7rem;
  --big-font-size: 2.5rem;
  --h2-font-size: 1.4rem;
  --normal-font-size: 1rem;
  --hover-font-size: 1.1rem;
  --smaller-font-size: .75rem;
  /*===== MARGENS =====*/
  --mb-1: 1rem;
  --mb-2: 2rem;
  --mb-3: 2.5rem;
  --mb-4: 4rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}


button{
  user-select: none;
}
