/*===== FONTE =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

/*===== VARIAVEIS CSS =====*/
:root {
  --header-height: 5rem;
  --alternative-header-height: 10rem;
  --font-bold: 700;
  --font-semi: 600;
  --font-thin: 500;
  /*===== CORES =====*/
        /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
        /* HSL color mode */

  --hue-color: 224;
  --first-color: hsl(var(--hue-color), 90%, 65%);
  --second-color: hsl(var(--hue-color), 0%, 15%);
  --third-color: hsl(var(--hue-color), 0%, 55%);
  --gray-color: hsl(var(--hue-color), 0%, 90%);

  /*===== FONTES/TIPOGRAFIA =====*/
  --body-font: "Poppins", sans-serif;

  --big2-font-size: 2.7rem;
  --big-font-size: 2.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --hover-font-size: 1.1rem;
  --smaller-font-size: .75rem;
  /*===== MARGENS =====*/
  --mb-1: 1rem;
  --mb-2: 2rem;
  --mb-3: 2.5rem;
  --mb-4: 6rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}

